{% extends 'base.html.twig' %}
{% block stylesheets %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/5398383d22.js" crossorigin="anonymous"></script>
	<link href="{{ asset('styles/gotop.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('styles/accountupdate.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/gotop.js') }}" defer></script>
{% endblock %}


{% block title %}FINK | Modifier/Compléter mon profil
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('danger') %}
		<div class="alert alert-danger" id="barre-alerte" role="alert">{{ flashError }}</div>
	{% endfor %}

	{# ici le header user connected or not #}
	{% block header %}
		{% include 'main/header.html.twig' %}
	{% endblock header %}


	{# Bouton To the Top #}
	<a id="gotop"></a>


	{# container principal #}
	<div class="container" id="update-profil">
		<h3 class="text-center">Mettre à jour mon
			<span>profil
			</span>
		</h3>

		<form
			method="POST" enctype="multipart/form-data" >
			{# Carte artiste #}
			<div
				class="carte-artiste">
				{# PHOTO DE COUVERTURE #}
				<div class="couv">
					<div class="profil-couverture">
						<img src={{ asset('/cover_picture/' ~ artist.CoverPicture) }} class="card-img-top" alt="photo de couverture">
					</div>
				</div>
				{# PHOTO DE PROFIL + pickup couv #}
				<div class="entete-photo">
					<div class="pick-cover-picture">
						<label for="cover_picture">Votre photo de couverture :
						</label>
						<input type="file" name="cover_picture" placeholder="Choississez une photo de couverture">
						<input type="hidden" name="cover_picture_value" value="{{artist.CoverPicture}}"/>
					</div>
					<div class="photo-profil">
						<div class="profil-picture">
							<img src="{{asset('/asset/uploads/' ~ artist.profilePicture )}}" class="card-img-top rounded-circle" alt="photo de profile">
						</div>
						<div class="pick-profil-picture">
							<label for="profile_picture">Votre photo de profil :
							</label>
							<input type="file" name="profile_picture" placeholder="Choississez une photo de profil">
							<input type="hidden" name="profile_picture_value" value="{{artist.profilePicture}}"/>

						</div>
					</div>
				</div>
				<div class="pickup-pseudo">
					<input type="text" name="pseudo" placeholder="Votre nom d'artiste*" value="{{artist.pseudo}}" required>
				</div>
				<div class="description">
					<h4>Description</h4>
					<textarea type="text" name="description" placeholder="L'occasion de vous présenter aux visiteurs qui viendront consulter votre profil" required>{{artist.description}}</textarea>
				</div>


				{# LES STYLES DE L'ARTISTE #}
				<div class="pickup-styles">
					<h4 class="text-center">Styles</h4>
					<div class="style-modif d-flex w-100">
						<div class="justify-content-center d-flex">
							<div class="pour-center-flemme">
								<div class="remove-style d-flex">
									<p>Enlever un style :
									</p>
									{% for style in artist_style %}
										<div class="form-check d-flex">
											<input class="form-check-input" type="checkbox" name="re-style[]" id="re-style-{{style.id}}" value="{{style.id}}">
											<label class="form-check-label" for="re-style">
												{{style.name}}
											</label>
										</div>
										<input type="hidden" name="styles_value[]" value="{{style.id}}"/>
									{% endfor %}
								</div>
								<div class="add-style d-flex">
									<p>Ajouter un style :
									</p>
									<br>
									{% for style in styles %}
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="style[]" id="style{{style.id}}" value="{{style.id}}">
											<label class="form-check-label" for="style{{style.id}}">
												{{style.name}}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>


				{# INFO MAJEURS : Pseudo/ville/style #}
				<div class="infos-maj ">
					<h4 class="text-center">Carte de visite
					</h4>
					<div class="d-flex justify-content-center">
						<div class="info-contact">
							<div>
								<label for="firstname">Prénom* :
								</label>
								<input type="text" name="firstname" placeholder="Entrez votre prénom" value="{{artist.firstname}}" required>
							</div>
							<div>
								<label for="lastname">Nom* :
								</label>
								<input type="text" name="lastname" placeholder="Entrez votre nom" value="{{artist.lastname}}" required>
							</div>
							<div>
								<label for="tattoo_shop">Salon de tatouage* :
								</label>
								<input type="text" name="tattoo_shop" placeholder="Entrez le nom de votre salon" value="{{artist.tattooShop}}" required>
							</div>
							<div>
								<label for="instagram">Instagram :
								</label>
								<input type="text" name="instagram" placeholder="Lien vers votre page instagram :" value="{{artist.instagram}}">
							</div>
							<div>
								<label for="siret">Votre Siret* :
								</label>
								<input type="text" name="siret" placeholder="Entrez votre siret à 14 chiffres" value="{{artist.siret}}" required>
							</div>
							<div>
								<label for="address">Adresse* :
								</label>
								<input type="text" name="address" placeholder="Entrez votre adresse" value="{{artist.address}}" required>
							</div>
							<div>
								<label for="city">Ville* :
								</label>
								<input type="text" name="city" placeholder="Entrez votre ville" value="{{artist.city}}" required>
							</div>
						</div>
					</div>


				</div>

				{# Validation formulaire #}
				<div class="update-bouton">
					<input type="submit" name="submit" value="Mettre à jour et publier mon profil">
				</div>
			</div>
			{# END CARTE-ARTISTE #}
		</form>

	</div>


	{# ici le footer #}
	{% block footer %}
		{% include 'main/footer.html.twig' %}
	{% endblock footer %}
{% endblock %}
