{% extends 'base.html.twig' %}
{% block stylesheets %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/5398383d22.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
	<script src="{{asset('js/search.js')}}"></script>

	<link href="{{ asset('styles/index.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('styles/artistcard.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block title %}FINK | Find your INK artist !
{% endblock %}


{% block body %}


	<div id="home">
		{# ici le header user connected or not #}
	{% block header %}
		{% include 'main/header.html.twig' %}
	{% endblock header %}
		<div class="container">

					{# intro #}
		<div id="home-header" class="d-flex">
			<div class="centre align-self-center">
				<div id="intro" class="">
					<div id="titre">
						<h1 class="">FINK</h1>
						<h2 class="font-phone">FIND YOUR
							<span>
								INK
							</span>
							ARTIST</h2>
					</div>
				</div>

				{# barre de recherche #}
				<div class="row">
				<div id="search" class="d-flex">
					<form
						action="" methode="" class="flex-wrap d-flex w-75 align-self-center ">

						{# Style(s) #}
						<select class="search-bar col-xs-12 col-sm-12 col-4" id="styles" name="styles[]" multiple="multiple" placeholder="Style(s)">
							{% for style in styles %}
								<option value="{{style.id}}">{{style.name}}</option>
							{% endfor %}
						</select>

						{# localisation #}
						<input type="text" class="col-xs-12 col-sm-12 col-4" id="search-city" placeholder="    Localisation">
						<button for="submit" class="button-search col-xs-12 col-sm-12">FINK!</button>
					</form>
				</div>
				</div>
				
			</div>
		</div>
		</div>
	</div>
	{# Container principale #}
	<div class="container">



		{# ils nous ont rejoins #}
		<div id="meet">
			<div>
				<h3 class="text-center">
					ILS VIENNENT DE NOUS <span>REJOINDRE</span>
				</h3>
			</div>
			<div class="Cartes d-flex flex-wrap justify-content-around">
				<!-- FAIRE BOUCLE ICI POUR AFFICHAGE ARTISTE -->
				<!-- CARTE APERCU ARTISTE -->
			{% for artiste in artistes %}
				<a href="{{ path('artist_view', {'id': artiste.id}) }}">
					<div class="carte-artiste card">
					{# METTRE IMG CoverPicture ci-dessous: #}
					<img src={{ asset('/cover_picture/' ~ artiste.CoverPicture) }} alt="Artiste à {{ artiste.city }} : {{ artiste.pseudo }}">
						<div class="info-artiste">
							<div class="profil-picture">
							{# ICi l'image de ProfilePicture #}
								<img src={{ asset('/asset/uploads/' ~ artiste.profilePicture) }} alt="{{ artiste.pseudo }}">
							</div>
							<div class="name d-flex justify-content-between">
								<p>{{ artiste.pseudo }}</p>
								<p><i class="fas fa-map-marker-alt"></i> {{ artiste.city }} </p>
							</div>
							<div class="styles d-inline-flex">
								{% for style in artiste.styles %}
									<p>{{ style.name }}</p>
							  	{% endfor %}
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
				<!-- FIN CARTE APERCU ARTISTE -->
				<!-- FIN DE BOUCLE ARTISTE APERCU -->		
			</div>
		</div>
	</div>


	{# ici le footer #}
	{% block footer %}
		{% include 'main/footer.html.twig' %}
	{% endblock footer %}
{% endblock %}
