


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="titleconnect">S'INSCRIRE</h1>

    <button type="submit">
			S'inscrire avec Instagram
			<i class="lab la-instagram"></i>

		</button>
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.pseudo , {'attr': {'placeholder': ' pseudo'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Mot de passe'}}) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Répétez le mot de passe'}}) }}
        {{ form_widget(registrationForm.createdAt, { 'attr' : { 'style':'display:none'} }) }}
        <div>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        
<div>
    <button type="submit">
    S'inscrire
</button>
</div>
        
    {{ form_end(registrationForm) }}
{% endblock %}
