


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="titleconnect">S'INSCRIRE</h1>

    <button type="submit">
			S'inscrire avec Instagram
			<i class="lab la-instagram"></i>

		</button>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       


        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit">
			S'inscrire
		</button>
    {{ form_end(registrationForm) }}
{% endblock %}
