{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Details de l'artiste
{% endblock %}

{% block body %}
	{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
{% endblock header %}
	<h1 class="text-center" >Détails de <span class="adminTitre"> {{artist.pseudo}}</span></h1>

	<div class="card position-absolute top-50 start-50 translate-middle w-25 p-3 text-center h-50 d-inline-block" style="width: 18rem;">
		<img
		src="{{ asset('/asset/uploads/' ~ artist.coverPicture) }}" class="card-img-top" alt="Image de l'artiste">
		<div class="card-body">
			<h5 class="card-title fs-2">{{artist.pseudo}}</h5>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item fs-4" >Localisation:
				{{artist.tattooShop}}
				{{artist.city}}</li>
			<li class="list-group-item fs-">Email:
				{{artist.email}}</li>
			<li class="list-group-item fs-4">Description:
				{{artist.description}}</li>
			<li class="list-group-item fs-5">Numéro de Siret:
				{{artist.siret}}</li>
			{% for style in artist_style %}
			<li class="list-group-item fs-5">{{style.name}}</li>
			{% endfor %}
		</ul>
		<div class="card-body">
			<a href="{{ path('artist_update', {id: artist.id}) }}" class="card-link btn btn-warning m-5 detailsBtn">Modifier</a>
			<a href="{{ path('artist_tampon', {id: artist.id}) }}" class="card-link btn btn-danger detailsBtn">Supprimer</a>
		</div>
	</div>

{% endblock %}
