{% extends 'base.html.twig' %}

{% block title %}Details de l'artiste
{% endblock %}

{% block body %}
	<h1>Détails de {{artist.pseudo}}</h1>

	<div class="card" style="width: 18rem;">
		<img
		src="{{ asset('/asset/uploads/' ~ artist.profilePicture) }}" class="card-img-top" alt="Image de l'artiste">
		<div class="card-body">
			<h5 class="card-title">{{artist.pseudo}}</h5>
			<p class="card-text">{{artist.description}}</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Localisation:
				{{artist.tattooShop}}
				{{artist.city}}</li>
			<li class="list-group-item">Email:
				{{artist.email}}</li>
			<li class="list-group-item">Description:
				{{artist.description}}</li>
			<li class="list-group-item">Numéro de Siret:
				{{artist.siret}}</li>
			{# <li class="list-group-item">{{artist.styles|join('|')}}</li> #}
		</ul>
		<div class="card-body">
			<a href="#" class="card-link btn btn-warning">Modifier</a>
			<a href="#" class="card-link btn btn-danger">Supprimer</a>
		</div>
	</div>

{% endblock %}
