{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Admin Artistes
{% endblock %}

{% block body %}
	{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
	{% endblock header %}

	<h1 class="text-center">Gestion des
		<span class="adminTitre">artistes</span>
	</h1>
	<div class="container">
		<a class="btn btn-primary" href="{{ path("artist_add") }}">Ajouter un artiste</a>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Pseudo</th>
					<th>Email</th>
					<th>Nom du salon</th>
					<th>Ville</th>
					<th>Date d'inscription</th>
					<th>Compte Activé</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for artist in artists %}
					<tr>
						<td>{{artist.id}}</td>
						<td>{{artist.pseudo}}</td>
						<td>{{artist.email}}</td>
						<td>{{artist.tattooShop}}</td>
						<td>{{artist.city}}</td>
						<td>{{artist.createdAt|date('d/m/Y')}}</td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="active" {{ (artist.isVerified) ? 'checked' : ''}} data-id="{{artist.id}}">
								<label class="form-check-label" for="active" name="active">Actif</label>
							</div>
						</td>
						<td class="text-center">
							<a href="{{ path('admin_details', {id: artist.id}) }}" class="btn btn-primary adminBtn">Détails</a>
							<a href="{{ path('artist_update', {id: artist.id}) }}" class="btn btn-warning adminBtn">Modifier</a>
							<a href="{{ path('artist_tampon', {id: artist.id}) }}" class="btn btn-danger adminBtn">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
let active = document.querySelectorAll("[type=checkbox]")
for (let bouton of active) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;

xmlhttp.open("get", `/admin/active/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
	</script>
{% endblock %}
