{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Modifier un tatoueur
{% endblock %}
{% block body %}
{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
{% endblock header %}
<h1 class="text-center">Modification du
	<span class="adminTitre">tatoueur</span>
</h1>
<form class="m-3" action="" method="POST">
	<div class="container formAdmin">
		<div class="mb-3">
			<input class="form-control" type="text" name="email" value="{{ artist.email }}" placeholder="Email">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="lastname" value="{{ artist.lastname }}" placeholder="Nom de famille">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="firstname" value="{{ artist.firstname }}" placeholder="Prénom">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="pseudo" value="{{ artist.pseudo }}" placeholder="Pseudo">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="tattooshop" value="{{ artist.tattooShop }}" placeholder="Nom du salon">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="city" value="{{ artist.city }}" placeholder="Ville">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="address" value="{{ artist.address }}" placeholder="Adresse">
		</div>
		<div class="mb-3">
			<label for="profilePicture">Photo de profil</label>
			<input class="form-control" type="file" name="profilePicture" value="{{ artist.profilePicture }}">
		</div>
		<div class="mb-3">
		<label for="coverPicture">Photo de couverture</label>
			<input class="form-control" type="file" name="coverPicture" value="{{ artist.coverPicture }}">
		</div>
		<div class="mb-3">
			<textarea class="form-control" type="text" name="description" value="" placeholder="Description...">{{ artist.description }}</textarea>
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="instagram" value="{{ artist.instagram }}" placeholder="Instagram">
		</div>
		<div class="mb-3">
			<input class="form-control" type="text" name="siret" value="{{ artist.siret }}" placeholder="Siret">
		</div>

		{# <select class="search-bar" id="styles" name="styles[]" multiple="multiple" placeholder="Style(s)">
					{% for style in artist_style %}
						<option value="{{style.id}}">{{style.name}}</option>
					{% endfor %}
				</select> #}

		<div>
			<button class="btn btn-success justify-content-center btnUpdateAdmin" type="submit" name="submit">Valider</button>
		</div>
	</div>

</form {% endblock %}
