{% extends 'base.html.twig' %}

{% block title %}Modifier un tatoueur
{% endblock %}
{% block body %}
<h1>Modification du tatoueur</h1>
<form action="" method="POST">

	<div>
		<input type="text" name="email" value="{{ artist.email }}">
	</div>
	<div>
		<input type="text" name="lastname" value="{{ artist.lastname }}">
	</div>
	<div>
		<input type="text" name="firstname" value="{{ artist.firstname }}">
	</div>
	<div>
		<input type="text" name="pseudo" value="{{ artist.pseudo }}">
	</div>
	<div>
		<input type="text" name="tattooshop" value="{{ artist.tattooShop }}">
	</div>
	<div>
		<input type="text" name="address" value="{{ artist.address }}">
	</div>
	<div>
		<input type="text" name="profilePicture" value="{{ artist.profilePicture }}">
	</div>
	<div>
		<textarea type="text" name="description" value="">{{ artist.description }}</textarea>
	</div>
	<div>
		<input type="text" name="instagram" value="{{ artist.instagram }}">
	</div>
	<div>
		<input type="text" name="siret" value="{{ artist.siret }}">
	</div>

	<select class="search-bar" id="styles" name="styles[]" multiple="multiple" placeholder="Style(s)">
		{% for style in artist %}
			<option value="{{style.id}}">{{style.name}}</option>
		{% endfor %}
	</select>

	<div>
		<button type="submit" name="submit">Valider</button>
	</div>

</form {% endblock %}
